.titr {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    padding-bottom:20px;

}
table {
    float: left;
    margin: auto;
    width: 35%;
    text-align: center;
    border-collapse: collapse;
}

.pic {
    width: 50px;
    border-radius: 8px;
}
th {

    text-align: left;
    padding-left: 5px;
}
.name {
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}
.explain {
    font-size: 14px;
    color: slategray;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 26px;
}
.clmn2 {

    line-height: 6px;
}
